@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset and base styles */
html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix iOS Safari scroll bar margin */
@media screen and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
}
@layer utilities {
  .ct-center {
    @apply flex justify-center items-center;
  }
}

.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
  border-radius: 3px !important;
  background-color: #b4b4b4 !important;
  margin: 0 !important;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: #368bff !important;
  margin: 0 !important;
}
